* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    padding-left: 10px;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #ddd;
    z-index: 999;
}

.navTitleBar {
    background: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 58px;
}

.navTitleText {
    float: left;
}

.navTitleText h2 {
    font-family: Arial-Black;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0px;
    text-align: left;
    line-height: 58px;
    margin-left: 20px;
    padding-left: 0;
}

.navTitleText h2 span {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 14px;
}

.navTitleBtn {
    float: right;
    width: 58px;
    height: 58px;
    padding-top: 11px;
    padding-left: 11px;
}

.ic_hide {
    display: none;
}

.ic_show {
    display: block;
}

.navList {
    background: #333333;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 320px;
    display: none;
    position: relative;
}

.mask {
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.50);
    display: none;
    z-index: 98;

}

.navList ul li {
    background: #333333;
    width: 100%;
    height: 58px;
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}

.navList ul li a {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0px;
    text-align: left;
    line-height: 58px;
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    padding-left: 0;
    width: 100%;
}

.navList ul li a span {
    float: right;
    padding-right: 20px;
}

.container {
    padding-top: 68px;
    display: block;
    background-color: #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.page {
    background: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.pageHead {
    background: #eef6ff;
    width: 100%;
    height: 166px;
    text-align: center;
    padding-top: 47px;
}

.cardTitle {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #666666;
    letter-spacing: 0px;
}

.cardSubscribe {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 17px;
}

.foot {
    background: #689ede;
    border: 1px solid #689ede;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 56px;
    padding-top: 16px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.foot p {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0px;
    text-align: center;
}

.profileImg {
    background: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    width: 89px;
    height: 89px;
    border-radius: 100%;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../souce/profile-img.jpg");
    background-size: cover;

}

.pageBody {
    padding: 18px;
    padding-top: 30px;
    text-align: center;
}

.timeLine {
    border:1px dashed #dddddd;
    width:1px;
    height:400px;
    position: absolute;
    margin-left: 45px;
    z-index: 1;
}

.time {
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#666666;
    letter-spacing:0px;
    text-align:right;
    float: left;
    margin-right: 30px;
    /*margin-left: -50px;*/
    height: 150px;
}

.endTime span {
    text-align: center;
}

.workInfo {
    text-align: left;
    clear: right;
}

.station {
    font-family:PingFangSC-Medium;
    font-size:14px;
    color:#333333;
    letter-spacing:0px;
    text-align:left;
    margin-bottom: 12px;
}

.company {
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#666666;
    letter-spacing:0px;
    text-align:left;
    margin-bottom: 17px;
}

.description {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#999999;
    letter-spacing:0px;
    text-align:left;
}

.info {
    margin-bottom: 38px;
    clear: left;
}

.title {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#4a90e2;
    letter-spacing:0px;
    text-align: center;
    margin-bottom: 18px;
}

.description2 {
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#999999;
    letter-spacing:0px;
    line-height:22px;
    text-align:center;
    margin-bottom: 20px;
}

.departLine {
    color:#dddddd;
}

.skillList {
    margin-top: 18px;
}

.skill {
    margin-bottom: 34px;
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#999999;
    letter-spacing:0px;
    list-style: none;
}

table {
    margin-top: 18px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.skillName {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#999999;
    letter-spacing:0px;
    text-align:right;
    line-height: 50px;

}

.skillLevel {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#333333;
    letter-spacing:10px;
    text-align:left;
    width: 30%;
}

.SkillSubscribe {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#999999;
    letter-spacing:0px;
    text-align:left;
}

.item {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#999999;
    letter-spacing:0px;
    text-align:right;
    line-height: 50px;
    width: 30%;
}

.result {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#333333;
    letter-spacing:0px;
    text-align:left;
}

.result a {
    text-decoration: none;
    font-family:PingFangSC-Regular;
    font-size:14px;
    color:#333333;
    letter-spacing:0px;
    text-align:left;
}

.my-gallery {
    display: flex;
}

.my-gallery figure {
    width: 33%;
    float: left;
    padding: 2px;
    overflow: hidden;
    height: 0;
    padding-bottom:33%;
}

.my-gallery img {
    width: 100%;
}

.introTitle {
    font-family:PingFangSC-Regular;
    font-size:14px;
    color: #666666;
    letter-spacing:1px;
    padding: 0;
    margin-bottom: 17px;
    margin-top: 20px;
}

.p2 {
    color: #999999;
    font-style: 12px;
}

figcaption {
    display: none;
}

.works {
    margin-bottom: 50px;
}

.photo-hide {
    display: none;
}